# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
env/
venv/
build_env/
ENV/

# Build artifacts
build/
dist/
*.egg-info/
*.spec

# Application specific
recordings/
*.pt

# IDEs
.idea/
.vscode/
